## Introduction to Python

In [1]:
# This is a comment line

### Python Inputs and Outputs

In [5]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  33
Please enter the second number:  44

33 <class 'str'> 44 <class 'str'>
3344
End of the program...

In [6]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300

100 <class 'int'> 300 <class 'int'>
400
End of the program...

In [19]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))    # variable placeholder
print ("So {0} + {1} = {2}".format(num1, num2, result))    # indexed placeholder
print ("So {2} + {1} = {0}".format(result, num2, num1))    # indexed placeholder
print ("So {n1} + {n2} = {tot}".format(n1 = num2, n2 = num2, tot = result))    # labeled placeholder
print ("So {n1} + {n2} = {tot}".format(n2 = num2, n1 = num2, tot = result))    # labeled placeholder
print ("So %d + %d = %d"%(num1, num2, result))    # formatting
print ("So %d + %f = %d"%(num1, num2, result))    # formatting
print ("So %d + %8.2f = %d"%(num1, num2, result))    # formatting
print (f"So {num1} + {num2} = {result}")    # smart formatting

So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 300 + 300 = 400
So 300 + 300 = 400
So 100 + 300 = 400
So 100 + 300.000000 = 400
So 100 +   300.00 = 400
So 100 + 300 = 400

### Conditional Statements

In [37]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print ("1> Addition\n2> Subtraction\n3> Multiplication\n4> Division")
ch = int(input("Please enter your choice number: "))
if (ch == 1):
    print ("Performing the ADDITION operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (ch == 2):
    print ("Performing the SUBTRACTION operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (ch == 3):
    print ("Performing the MULTIPLICATION operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (ch == 4):
    print ("Performing the DIVISION operation...")
    if (num2 == 0):
        print ("DIVISION by ZERO is Illegal !!!")
        print ("Can not perform the division operation...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been given...")
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  40

1> Addition
2> Subtraction
3> Multiplication
4> Division

Please enter your choice number:  2

Performing the SUBTRACTION operation...
So 100 - 40 = 60
End of the program...

In [44]:
myvar = "University"
print (myvar, type(myvar), id(myvar))
myvar = 'U'
print (myvar, type(myvar), id(myvar))
myvar = 100
print (myvar, type(myvar), id(myvar))
myvar = 100.5
print (myvar, type(myvar), id(myvar))
myvar = True
print (myvar, type(myvar), id(myvar))

University <class 'str'> 2595285758192
U <class 'str'> 2595202204592
100 <class 'int'> 140736313635728
100.5 <class 'float'> 2595288877616
True <class 'bool'> 140736313349968

### Collection Objects

In [57]:
myvar = ['Amit', 34, 54000.50, True]
print (myvar, type(myvar), id(myvar))
myvar = ('Amit', 34, 54000.50, True)
print (myvar, type(myvar), id(myvar))
myvar = {'name':'Amit', "age":34, 'salary':54000.50, 'married':True}
print (myvar, type(myvar), id(myvar))
myvar = {'Amit', 34, 54000.50, True, 34, 54000.50, True, 34, 54000.50, True, 'Amit'}
print (myvar, type(myvar), id(myvar))
myvar = frozenset(['Amit', 34, 54000.50, True, 34, 54000.50, True, 34, 54000.50, True, 'Amit'])
print (myvar, type(myvar), id(myvar))

['Amit', 34, 54000.5, True] <class 'list'> 2595286098560
('Amit', 34, 54000.5, True) <class 'tuple'> 2595277887984
{'name': 'Amit', 'age': 34, 'salary': 54000.5, 'married': True} <class 'dict'> 2595285138560
{54000.5, True, 34, 'Amit'} <class 'set'> 2595294140224
frozenset({54000.5, True, 34, 'Amit'}) <class 'frozenset'> 2595294139328

### Arithmetic Operators

In [59]:
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)
print (100 // 40)
print (100 % 40)
print (100 ** 4)

140
60
4000
2.5
2
20
100000000

### Logical Operators

In [63]:
print (100 > 400 and 400 > 200)
print (100 > 400 or 400 > 200)
print (not(100 > 400 and 400 > 200))
print (not(100 > 400 or 400 > 200))

False
True
True
False

### Python Loops

In [19]:
# for i in range(5):
# for i in range(0, 5):
for i in range(0, 5, 1):
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 0, Hello World...
For i = 1, Hello World...
For i = 2, Hello World...
For i = 3, Hello World...
For i = 4, Hello World...
ELSE block is executing...
End of the program...

In [4]:
for i in range(5, 10):
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [11]:
for i in range(5, 10):
    print (f"For i = {i}, Hello World...")
    if (i == 8): break
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
End of the program...

In [8]:
for i in range(5, 10):
    if (i == 7): 
        print (f"Continuing with the next value of i = {i}...")
        continue
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
Continuing with the next value of i = 7...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [15]:
num = 100
if (num % 2 == 0):
    print (f"{num} is an EVEN number...")
    
if (num % 2 != 0):
    pass   # statement place holder
else:
    print (f"{num} is an EVEN number...")

100 is an EVEN number...
100 is an EVEN number...

In [20]:
# example of nested loops
print ("Visit Doctor...")    # 1 time
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day No. = {day} and Medicine No. = {medi}...")    # 15 times
    print ("Good Night...")    # 5 times
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")    # 5 times
print ("Thanks to Doctor...")    # 1 time
print ("End of the program...")    # 1 time

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Thanks to Doctor...
End of the program...

In [21]:
for i in range(5, 10):
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [22]:
i = 5
while (i <= 9):
    print (f"For i = {i}, Hello World...")
    # i = i + 1
    i += 1
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [24]:
# example of nested loops
print ("Visit Doctor...")    # 1 time
day = 1
while (day <= 5):
    print ("Good Morning...")    # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. = {day} and Medicine No. = {medi}...")    # 15 times
        medi += 1
    print ("Good Night...")    # 5 times
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")    # 5 times
    day = day + 1
print ("Thanks to Doctor...")    # 1 time
print ("End of the program...")    # 1 time

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Thanks to Doctor...
End of the program...

In [26]:
num = int(input("Please enter one positive integer: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is Not a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
    
print ("End of the program...")

Please enter one positive integer:  100

100 is Not a PRIME Number...
End of the program...

### String Processing

In [42]:
mystr = "oUr COUNtry iS greAt"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.title())
print (mystr.swapcase())
print (mystr.center(30))

oUr COUNtry iS greAt 20 1866959516976 <class 'str'>
OUR COUNTRY IS GREAT
our country is great
Our country is great
Our Country Is Great
OuR counTRY Is GREaT
     oUr COUNtry iS greAt

In [31]:
mystr = "Our Country Is Great"
print (mystr, len(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split("r")
print (list1)
list1 = mystr.split("x")
print (list1)

Our Country Is Great 20 1866964416112
['Our', 'Country', 'Is', 'Great']
['Ou', ' Count', 'y Is G', 'eat']
['Our Country Is Great']

In [41]:
# indexing and slicing
#  index L2R ->  0  1  2  3  4  5  6  7  8  9
#       mystr = "u  n  i  v  e  r  s  i  t  y "
#  index R2L ->-10 -9 -8 -7 -6 -5 -4 -3 -2 -1  
mystr = "university"
print (mystr, len(mystr), id(mystr))
print (mystr[7], mystr[-3], mystr[4], mystr[-6])
print (mystr[:6], mystr[0:6], mystr[:-4], mystr[-10:-4])
print (mystr[6:], mystr[-4:])
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])

university 10 1866963836336
i i e e
univer univer univer univer
sity sity
ver ver ver ver

In [ ]:
help(str)

In [48]:
mystr = "abcd"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "abcd1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "abcd@1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())

abcd True False True
1234 False True True
abcd1234 False False True
abcd@1234 False False False

In [52]:
mystr = "    Marry   Williums      "
print (mystr, len(mystr), type(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    Marry   Williums       26 <class 'str'>
Marry   Williums 16
Marry   Williums       22
    Marry   Williums 20

In [53]:
mystr = "@#@@Marry@@##Williums#@#@@"
print (mystr, len(mystr), type(mystr))
print (mystr.strip("@#"), len(mystr.strip("@#")))
print (mystr.lstrip("@#"), len(mystr.lstrip("@#")))
print (mystr.rstrip("@#"), len(mystr.rstrip("@#")))

@#@@Marry@@##Williums#@#@@ 26 <class 'str'>
Marry@@##Williums 17
Marry@@##Williums#@#@@ 22
@#@@Marry@@##Williums 21

In [60]:
mystr = "university"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.index("i"), mystr.index("i", 0), mystr.index("i", 1))
print (mystr.index("i", 3), mystr.index("i", 5), mystr.index("i", 6))
print (mystr.index("i", 10))

university 10 1866963836336 <class 'str'>
2 2 2
7 7 7

ValueError: substring not found

In [62]:
mystr = "university"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.find("i"), mystr.find("i", 0), mystr.find("i", 1))
print (mystr.find("i", 3), mystr.find("i", 5), mystr.find("i", 6))
print (mystr.find("i", 10))

university 10 1866963836336 <class 'str'>
2 2 2
7 7 7
-1

In [64]:
mystr = "university"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.count("i"), mystr.count("s"), mystr.count("b"))
print (mystr.count("i", 0), mystr.count("i", 3), mystr.count("i, 8"))

university 10 1866963836336 <class 'str'>
2 1 0
2 1 0

In [66]:
mystr1 = "uni"
mystr2 = "versity"
print (mystr1 + mystr2)
print (mystr1 + " " + mystr2)

university
uni versity