## Introduction to Python

In [1]:
# This is a comment line

### Python Inputs and Outputs

In [5]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  33
Please enter the second number:  44

33 <class 'str'> 44 <class 'str'>
3344
End of the program...

In [6]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300

100 <class 'int'> 300 <class 'int'>
400
End of the program...

In [19]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))    # variable placeholder
print ("So {0} + {1} = {2}".format(num1, num2, result))    # indexed placeholder
print ("So {2} + {1} = {0}".format(result, num2, num1))    # indexed placeholder
print ("So {n1} + {n2} = {tot}".format(n1 = num2, n2 = num2, tot = result))    # labeled placeholder
print ("So {n1} + {n2} = {tot}".format(n2 = num2, n1 = num2, tot = result))    # labeled placeholder
print ("So %d + %d = %d"%(num1, num2, result))    # formatting
print ("So %d + %f = %d"%(num1, num2, result))    # formatting
print ("So %d + %8.2f = %d"%(num1, num2, result))    # formatting
print (f"So {num1} + {num2} = {result}")    # smart formatting

So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 300 + 300 = 400
So 300 + 300 = 400
So 100 + 300 = 400
So 100 + 300.000000 = 400
So 100 +   300.00 = 400
So 100 + 300 = 400

### Conditional Statements

In [37]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print ("1> Addition\n2> Subtraction\n3> Multiplication\n4> Division")
ch = int(input("Please enter your choice number: "))
if (ch == 1):
    print ("Performing the ADDITION operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (ch == 2):
    print ("Performing the SUBTRACTION operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (ch == 3):
    print ("Performing the MULTIPLICATION operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (ch == 4):
    print ("Performing the DIVISION operation...")
    if (num2 == 0):
        print ("DIVISION by ZERO is Illegal !!!")
        print ("Can not perform the division operation...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been given...")
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  40

1> Addition
2> Subtraction
3> Multiplication
4> Division

Please enter your choice number:  2

Performing the SUBTRACTION operation...
So 100 - 40 = 60
End of the program...

In [44]:
myvar = "University"
print (myvar, type(myvar), id(myvar))
myvar = 'U'
print (myvar, type(myvar), id(myvar))
myvar = 100
print (myvar, type(myvar), id(myvar))
myvar = 100.5
print (myvar, type(myvar), id(myvar))
myvar = True
print (myvar, type(myvar), id(myvar))

University <class 'str'> 2595285758192
U <class 'str'> 2595202204592
100 <class 'int'> 140736313635728
100.5 <class 'float'> 2595288877616
True <class 'bool'> 140736313349968

### Collection Objects

In [57]:
myvar = ['Amit', 34, 54000.50, True]
print (myvar, type(myvar), id(myvar))
myvar = ('Amit', 34, 54000.50, True)
print (myvar, type(myvar), id(myvar))
myvar = {'name':'Amit', "age":34, 'salary':54000.50, 'married':True}
print (myvar, type(myvar), id(myvar))
myvar = {'Amit', 34, 54000.50, True, 34, 54000.50, True, 34, 54000.50, True, 'Amit'}
print (myvar, type(myvar), id(myvar))
myvar = frozenset(['Amit', 34, 54000.50, True, 34, 54000.50, True, 34, 54000.50, True, 'Amit'])
print (myvar, type(myvar), id(myvar))

['Amit', 34, 54000.5, True] <class 'list'> 2595286098560
('Amit', 34, 54000.5, True) <class 'tuple'> 2595277887984
{'name': 'Amit', 'age': 34, 'salary': 54000.5, 'married': True} <class 'dict'> 2595285138560
{54000.5, True, 34, 'Amit'} <class 'set'> 2595294140224
frozenset({54000.5, True, 34, 'Amit'}) <class 'frozenset'> 2595294139328

### Arithmetic Operators

In [59]:
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)
print (100 // 40)
print (100 % 40)
print (100 ** 4)

140
60
4000
2.5
2
20
100000000

### Logical Operators

In [63]:
print (100 > 400 and 400 > 200)
print (100 > 400 or 400 > 200)
print (not(100 > 400 and 400 > 200))
print (not(100 > 400 or 400 > 200))

False
True
True
False

### Python Loops

In [19]:
# for i in range(5):
# for i in range(0, 5):
for i in range(0, 5, 1):
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 0, Hello World...
For i = 1, Hello World...
For i = 2, Hello World...
For i = 3, Hello World...
For i = 4, Hello World...
ELSE block is executing...
End of the program...

In [4]:
for i in range(5, 10):
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [11]:
for i in range(5, 10):
    print (f"For i = {i}, Hello World...")
    if (i == 8): break
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
End of the program...

In [8]:
for i in range(5, 10):
    if (i == 7): 
        print (f"Continuing with the next value of i = {i}...")
        continue
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
Continuing with the next value of i = 7...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [15]:
num = 100
if (num % 2 == 0):
    print (f"{num} is an EVEN number...")
    
if (num % 2 != 0):
    pass   # statement place holder
else:
    print (f"{num} is an EVEN number...")

100 is an EVEN number...
100 is an EVEN number...

In [20]:
# example of nested loops
print ("Visit Doctor...")    # 1 time
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day No. = {day} and Medicine No. = {medi}...")    # 15 times
    print ("Good Night...")    # 5 times
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")    # 5 times
print ("Thanks to Doctor...")    # 1 time
print ("End of the program...")    # 1 time

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Thanks to Doctor...
End of the program...

In [21]:
for i in range(5, 10):
    print (f"For i = {i}, Hello World...")
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [22]:
i = 5
while (i <= 9):
    print (f"For i = {i}, Hello World...")
    # i = i + 1
    i += 1
else:
    print ("ELSE block is executing...")
    
print ("End of the program...")

For i = 5, Hello World...
For i = 6, Hello World...
For i = 7, Hello World...
For i = 8, Hello World...
For i = 9, Hello World...
ELSE block is executing...
End of the program...

In [24]:
# example of nested loops
print ("Visit Doctor...")    # 1 time
day = 1
while (day <= 5):
    print ("Good Morning...")    # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. = {day} and Medicine No. = {medi}...")    # 15 times
        medi += 1
    print ("Good Night...")    # 5 times
    print ("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")    # 5 times
    day = day + 1
print ("Thanks to Doctor...")    # 1 time
print ("End of the program...")    # 1 time

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night...
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Thanks to Doctor...
End of the program...

In [26]:
num = int(input("Please enter one positive integer: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is Not a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
    
print ("End of the program...")

Please enter one positive integer:  100

100 is Not a PRIME Number...
End of the program...

### String Processing

In [42]:
mystr = "oUr COUNtry iS greAt"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.title())
print (mystr.swapcase())
print (mystr.center(30))

oUr COUNtry iS greAt 20 1866959516976 <class 'str'>
OUR COUNTRY IS GREAT
our country is great
Our country is great
Our Country Is Great
OuR counTRY Is GREaT
     oUr COUNtry iS greAt

In [31]:
mystr = "Our Country Is Great"
print (mystr, len(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split("r")
print (list1)
list1 = mystr.split("x")
print (list1)

Our Country Is Great 20 1866964416112
['Our', 'Country', 'Is', 'Great']
['Ou', ' Count', 'y Is G', 'eat']
['Our Country Is Great']

In [41]:
# indexing and slicing
#  index L2R ->  0  1  2  3  4  5  6  7  8  9
#       mystr = "u  n  i  v  e  r  s  i  t  y "
#  index R2L ->-10 -9 -8 -7 -6 -5 -4 -3 -2 -1  
mystr = "university"
print (mystr, len(mystr), id(mystr))
print (mystr[7], mystr[-3], mystr[4], mystr[-6])
print (mystr[:6], mystr[0:6], mystr[:-4], mystr[-10:-4])
print (mystr[6:], mystr[-4:])
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])

university 10 1866963836336
i i e e
univer univer univer univer
sity sity
ver ver ver ver

In [ ]:
help(str)

In [48]:
mystr = "abcd"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "abcd1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())
mystr = "abcd@1234"
print (mystr, mystr.isalpha(), mystr.isnumeric(), mystr.isalnum())

abcd True False True
1234 False True True
abcd1234 False False True
abcd@1234 False False False

In [52]:
mystr = "    Marry   Williums      "
print (mystr, len(mystr), type(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    Marry   Williums       26 <class 'str'>
Marry   Williums 16
Marry   Williums       22
    Marry   Williums 20

In [53]:
mystr = "@#@@Marry@@##Williums#@#@@"
print (mystr, len(mystr), type(mystr))
print (mystr.strip("@#"), len(mystr.strip("@#")))
print (mystr.lstrip("@#"), len(mystr.lstrip("@#")))
print (mystr.rstrip("@#"), len(mystr.rstrip("@#")))

@#@@Marry@@##Williums#@#@@ 26 <class 'str'>
Marry@@##Williums 17
Marry@@##Williums#@#@@ 22
@#@@Marry@@##Williums 21

In [60]:
mystr = "university"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.index("i"), mystr.index("i", 0), mystr.index("i", 1))
print (mystr.index("i", 3), mystr.index("i", 5), mystr.index("i", 6))
print (mystr.index("i", 10))

university 10 1866963836336 <class 'str'>
2 2 2
7 7 7

ValueError: substring not found

In [62]:
mystr = "university"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.find("i"), mystr.find("i", 0), mystr.find("i", 1))
print (mystr.find("i", 3), mystr.find("i", 5), mystr.find("i", 6))
print (mystr.find("i", 10))

university 10 1866963836336 <class 'str'>
2 2 2
7 7 7
-1

In [64]:
mystr = "university"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr.count("i"), mystr.count("s"), mystr.count("b"))
print (mystr.count("i", 0), mystr.count("i", 3), mystr.count("i, 8"))

university 10 1866963836336 <class 'str'>
2 1 0
2 1 0

In [66]:
mystr1 = "uni"
mystr2 = "versity"
print (mystr1 + mystr2)
print (mystr1 + " " + mystr2)

university
uni versity

### User Defined Function (UDF)

In [68]:
def funct1():
    print ("Welcome " * 4)
    
funct1()
funct1()
funct1()

Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome

In [71]:
def funct2(msg, times):  # positional parameters
    print (msg * times)
    
funct2("Welcome ", 4)  # positional arguments
funct2("Hello ", 5)

Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello

In [74]:
def funct3(msg, times):
    return msg * times

print (funct3("Welcome ", 5))
result = funct3("Hello ", 7)
print (result)
print (type(result), len(result))

Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello Hello Hello
<class 'str'> 42

In [83]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par2 = 200, par3 = 300)
funct4(par3 = 300, par1 = 100)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 111, par2 = 200 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...

In [105]:
def funct5(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return num1 + num1
    else:
        return num1 + num2
    
print (funct5(100))
print (funct5(100, 900))
print (type(funct5))

200
1000
<class 'function'>

In [89]:
# functon returning multiple arguments
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"total = {tt}, difference = {dd}, product = {pp} and quotient = {qq}...")
result = funct6(100, 40)
print (result, len(result), type(result))
print (f"total = {result[0]}, difference = {result[1]}, product = {result[2]} and quotient = {result[3]}...")

total = 140, difference = 60, product = 4000 and quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'>
total = 140, difference = 60, product = 4000 and quotient = 2.5...

In [94]:
# function with variable number of arguments
def funct7(*arg):  # *arg means forcefully defining arg as a tuple type
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Married")
funct7("Amitava", "Developer", 65000, "Married", "Pune")
funct7("Amitava", "Developer", 65000, "Married", "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 1866964748096
('Amitava', 'Developer', 65000, 'Married') 4 <class 'tuple'> 1866964838096
('Amitava', 'Developer', 65000, 'Married', 'Pune') 5 <class 'tuple'> 1866960557376
('Amitava', 'Developer', 65000, 'Married', 'Pune', 'Masters') 6 <class 'tuple'> 1866967334816

In [95]:
# function with variable number of arguments
def funct8(**kwarg):  # **kwarg means forcefully defining kwarg as a dictionary type, key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name="Amitava", designation="Developer", salary=65000)
funct8(name="Amitava", designation="Developer", salary=65000, status="Married")
funct8(name="Amitava", designation="Developer", salary=65000, status="Married", location="Pune")
funct8(name="Amitava", designation="Developer", salary=65000, status="Married", location="Pune", qualification="Masters")

{'name': 'Amitava', 'designation': 'Developer', 'salary': 65000} 3 <class 'dict'> 1866968252928
{'name': 'Amitava', 'designation': 'Developer', 'salary': 65000, 'status': 'Married'} 4 <class 'dict'> 1866967346560
{'name': 'Amitava', 'designation': 'Developer', 'salary': 65000, 'status': 'Married', 'location': 'Pune'} 5 <class 'dict'> 1866968252480
{'name': 'Amitava', 'designation': 'Developer', 'salary': 65000, 'status': 'Married', 'location': 'Pune', 'qualification': 'Masters'} 6 <class 'dict'> 1866968252928

In [97]:
# function with variable number of arguments
def funct9(*arg, **kwarg):  # **kwarg means forcefully defining kwarg as a dictionary type, key-word argument
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, status="Married", location="Pune", qualification="Masters")
print ()
funct9("Amitava", "Developer", 65000)
print ()
funct9(status="Married", location="Pune", qualification="Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 1866963424768
{'status': 'Married', 'location': 'Pune', 'qualification': 'Masters'} 3 <class 'dict'> 1866969603392

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 1866970945792
{} 0 <class 'dict'> 1866969602112

() 0 <class 'tuple'> 1866871734336
{'status': 'Married', 'location': 'Pune', 'qualification': 'Masters'} 3 <class 'dict'> 1866969602752

In [100]:
# factorial: 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 1! = 0! = 1
# non-recursive factorial calculating function
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = 1
    for i in range(1, num + 1):
        print (f"Executing for i = {i}...")
        fact = fact * i
    return fact

print (factorial_nr(5))

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
120

In [104]:
# factorial: 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 1! = 0! = 1
# recursive factorial calculating function
def factorial_r(num):
    # base case -> for certain inputs outputs are pre-known to us, where the recursion will terminate
    if (num == 0 or num == 1): return 1
    # recursive case -> the function will call itself either directly or indirectly
    return num * factorial_r(num - 1)

print (factorial_r(5))
print (factorial_r(6))
print (type(factorial_r))

120
720
<class 'function'>

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

### Lambda Function or Anonymous Function

In [103]:
# lambda function
my_square = lambda num: num * num
print (my_square(5), type(my_square), id(my_square))

25 <class 'function'> 1866971286832

In [107]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition(100, 900), type(my_addition))
print (my_addition(1000, 4000), type(my_addition))

1000 <class 'function'>
5000 <class 'function'>

In [110]:
# ternary operator
num1 = 100
print ("Even" if (num1 % 2 == 0) else "Odd")

num1 = 105
print ("Even" if (num1 % 2 == 0) else "Odd")

Even
Odd

In [111]:
# recursive lambda function to calculate the factorial of a given number
my_factorial = lambda num: 1 if (num == 0 or num == 1) else num * my_factorial(num - 1)

print (my_factorial(5))
print (my_factorial(6))

120
720

In [113]:
def funct10(num):
    myproduct = lambda n: n * num
    return myproduct

var10 = funct10(10)
var20 = funct10(20)
print (var10(2))
print (var20(3))

20
60

In [114]:
# using the 'global' keyword
i = 10
def funct11():
    i = 100
    print (i, id(i))
    
print (i, id(i))
funct11()
print (i, id(i))

10 140703191935056
100 140703191937936
10 140703191935056

In [115]:
# using the 'global' keyword
i = 10
def funct11():
    global i
    i = 100
    print (i, id(i))
    
print (i, id(i))
funct11()
print (i, id(i))

10 140703191935056
100 140703191937936
100 140703191937936

In [116]:
# using the 'global' keyword
def funct11():
    global i
    i = 100
    print (i, id(i))

i = 10
print (i, id(i))
funct11()
print (i, id(i))

10 140703191935056
100 140703191937936
100 140703191937936

### Importing Modules

In [1]:
# importing math module
import math

In [16]:
print (math.sin(0), math.cos(0), math.tan(0))
print (math.asin(0), math.acos(0), math.atan(0))
print (math.log(100), math.log(100, math.e), math.log(100, 10))
print (math.pi, math.e, math.tau)
print (math.log2(1024), math.log(1024, 2), math.log10(1000))
print (math.gcd(100, 85), math.ceil(10.1), math.ceil(10.9), math.floor(10.1), math.floor(10.9))

0.0 1.0 0.0
0.0 1.5707963267948966 0.0
4.605170185988092 4.605170185988092 2.0
3.141592653589793 2.718281828459045 6.283185307179586
10.0 10.0 3.0
5 11 11 10 10

In [20]:
print (math.factorial(5), math.factorial(6), math.pow(10, 3))

120 720 1000.0

In [22]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [23]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

### Collection Class Objects

### Dealing with List Collection

In [26]:
list1 = [100, 300, 500, 200, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1))

[100, 300, 500, 200, 700] 5 <class 'list'> 1767539350016
700 100
1800

In [29]:
list1 = [100, 300, 500, 200, 700, 20.5, True]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1))

[100, 300, 500, 200, 700, 20.5, True] 7 <class 'list'> 1767539345216
700 True
1821.5

In [33]:
list1 = ['Wed', 'Tue', 'sat', 'Mon', 'Sun']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1))

['Wed', 'Tue', 'sat', 'Mon', 'Sun'] 5 <class 'list'> 1767538179584
sat Mon

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
list1 = ['Wed', 'Tue', 'sat', 'Mon', True, 'Sun', 12.3, 100]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1))

['Wed', 'Tue', 'sat', 'Mon', True, 'Sun', 12.3, 100] 8 <class 'list'> 1767539349056

TypeError: '>' not supported between instances of 'bool' and 'str'

In [37]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
print (list1.index(200))

[100, 300, 200, 400, 500] 5
2

In [ ]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
print (list1.index(200))

In [39]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
list1.append(900)
list1.append(110)
print (list1, len(list1))

[100, 300, 200, 400, 500] 5
[100, 300, 200, 400, 500, 900, 110] 7

In [40]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
list1.insert(1, 900)
list1.insert(2, 650)
print (list1, len(list1))

[100, 300, 200, 400, 500] 5
[100, 900, 650, 300, 200, 400, 500] 7

In [42]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
list1.remove(300)
list1.remove(400)
print (list1, len(list1))
list1.remove(400)

[100, 300, 200, 400, 500] 5
[100, 200, 500] 3

ValueError: list.remove(x): x not in list

In [43]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
print (list1.pop())
print (list1.pop())
print (list1, len(list1))

[100, 300, 200, 400, 500] 5
500
400
[100, 300, 200] 3

In [47]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
del list1[1]
print (list1, len(list1))
del list1[3]
print (list1, len(list1))
del list1
print (list1, len(list1))

[100, 300, 200, 400, 500] 5
[100, 200, 400, 500] 4
[100, 200, 400] 3

NameError: name 'list1' is not defined

In [48]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

[100, 300, 200, 400, 500] 5
[] 0

In [49]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
list1[3] = 900
print (list1, len(list1))

[100, 300, 200, 400, 500] 5
[100, 300, 200, 900, 500] 5

In [57]:
list1 = [100, 300, 200, 400, 500]
print (list1, len(list1))
list1.sort()
print (list1, len(list1))
list1.sort(reverse = True)
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))

[100, 300, 200, 400, 500] 5
[100, 200, 300, 400, 500] 5
[500, 400, 300, 200, 100] 5
[100, 200, 300, 400, 500] 5

In [86]:
list1 = [100, 200, 300]
print (list1, len(list1))
list2 = [400, 600, 800]
print (list2, len(list2))
result = list1 + list2
print (result, len(result))

[100, 200, 300] 3
[400, 600, 800] 3
[100, 200, 300, 400, 600, 800] 6

In [54]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [50]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Dealing with Tuple Collection

In [27]:
tuple1 = (100, 300, 500, 200, 700)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1))

(100, 300, 500, 200, 700) 5 <class 'tuple'> 1767538658336
700 100
1800

In [30]:
tuple1 = (100, 300, 500, 200, 700, 20.5, True)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1))

(100, 300, 500, 200, 700, 20.5, True) 7 <class 'tuple'> 1767522067648
700 True
1821.5

In [32]:
tuple1 = ('Wed', 'Tue', 'sat', 'Mon', 'Sun')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1))

('Wed', 'Tue', 'sat', 'Mon', 'Sun') 5 <class 'tuple'> 1767521935664
sat Mon

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
tuple1 = ('Wed', 'Tue', 'sat', 'Mon', True, 'Sun', 12.3, 100)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1))

('Wed', 'Tue', 'sat', 'Mon', True, 'Sun', 12.3, 100) 8 <class 'tuple'> 1767539298816

TypeError: '>' not supported between instances of 'bool' and 'str'

In [38]:
tuple1 = (100, 300, 200, 400, 500)
print (tuple1, len(tuple1))
print (tuple1.index(200))

(100, 300, 200, 400, 500) 5
2

In [59]:
tuple1 = (100, 300, 200, 100, 500, 500, 400, 500)
print (tuple1, len(tuple1))
print (tuple1.count(100))
print (tuple1.count(500))

(100, 300, 200, 100, 500, 500, 400, 500) 8
2
3

In [63]:
tuple1 = (100, 300, 200, 400, 500)
print (tuple1, len(tuple1), id(tuple1))
# tuple1[2] = 1000
list1 = list(tuple1)
print (list1, len(list1), id(list1))
list1[2] = 1000
print (list1, len(list1), id(list1))
tuple1 = tuple(list1)
print (tuple1, len(tuple1), id(tuple1))

(100, 300, 200, 400, 500) 5 1767545333696
[100, 300, 200, 400, 500] 5 1767544973120
[100, 300, 1000, 400, 500] 5 1767544973120
(100, 300, 1000, 400, 500) 5 1767538978224

In [84]:
tuple1 = (100, 200, 300)
print (tuple1, len(tuple1))
tuple2 = (400, 600, 800)
print (tuple2, len(tuple2))
result = tuple1 + tuple2
print (result, len(result))

(100, 200, 300) 3
(400, 600, 800) 3
(100, 200, 300, 400, 600, 800) 6

In [58]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### Dealing with Dictionary Collection

In [65]:
dict1 = {'apple':120, 'orange':340, 'banana':720, 'pineapple':230}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1 = {'apple':120, 'orange':340, 'banana':720, 'pineapple':720, 'apple':450}
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 120, 'orange': 340, 'banana': 720, 'pineapple': 230} 4 <class 'dict'> 1767545019264
{'apple': 450, 'orange': 340, 'banana': 720, 'pineapple': 720} 4 <class 'dict'> 1767544972864

In [68]:
dict1 = {'apple':120, 'orange':340, 'banana':720, 'pineapple':230}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())
print (dict1.values())
print (dict1.items())

{'apple': 120, 'orange': 340, 'banana': 720, 'pineapple': 230} 4 <class 'dict'> 1767540708608
dict_keys(['apple', 'orange', 'banana', 'pineapple'])
dict_values([120, 340, 720, 230])
dict_items([('apple', 120), ('orange', 340), ('banana', 720), ('pineapple', 230)])

In [69]:
for list_of_tuples in dict1.items():
    print (f"Key = {list_of_tuples[0]} associated with the value = {list_of_tuples[1]}")

Key = apple associated with the value = 120
Key = orange associated with the value = 340
Key = banana associated with the value = 720
Key = pineapple associated with the value = 230

In [74]:
dict1 = {'apple':120, 'orange':340, 'banana':720, 'pineapple':230}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get('apple'))
print (dict1.get('guava'))
print (dict1.get('guava', 'Not Available'))
print (dict1['apple'])
print (dict1['guava'])

{'apple': 120, 'orange': 340, 'banana': 720, 'pineapple': 230} 4 <class 'dict'> 1767542495168
120
None
Not Available
120

KeyError: 'guava'

In [77]:
dict1 = {'apple':120, 'orange':340, 'banana':720, 'pineapple':230}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['guava'] = 950   # insert operation
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['orange'] = 740   # modify or update operation
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 120, 'orange': 340, 'banana': 720, 'pineapple': 230} 4 <class 'dict'> 1767542735744
{'apple': 120, 'orange': 340, 'banana': 720, 'pineapple': 230, 'guava': 950} 5 <class 'dict'> 1767542735744
{'apple': 120, 'orange': 740, 'banana': 720, 'pineapple': 230, 'guava': 950} 5 <class 'dict'> 1767542735744

In [79]:
dict1 = {'apple': 120, 'orange': 740, 'banana': 720, 'pineapple': 230, 'guava': 950}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('orange'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('pineapple'))
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 120, 'orange': 740, 'banana': 720, 'pineapple': 230, 'guava': 950} 5 <class 'dict'> 1767542873216
740
{'apple': 120, 'banana': 720, 'pineapple': 230, 'guava': 950} 4 <class 'dict'> 1767542873216
230
{'apple': 120, 'banana': 720, 'guava': 950} 3 <class 'dict'> 1767542873216

In [80]:
dict1 = {'apple': 120, 'orange': 740, 'banana': 720, 'pineapple': 230, 'guava': 950}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 120, 'orange': 740, 'banana': 720, 'pineapple': 230, 'guava': 950} 5 <class 'dict'> 1767545263552
('guava', 950)
{'apple': 120, 'orange': 740, 'banana': 720, 'pineapple': 230} 4 <class 'dict'> 1767545263552
('pineapple', 230)
{'apple': 120, 'orange': 740, 'banana': 720} 3 <class 'dict'> 1767545263552

In [83]:
fruit1 = {'apple': 120, 'orange': 740}
print (fruit1, len(fruit1), type(fruit1), id(fruit1))
fruit2 = {'banana': 720, 'pineapple': 230, 'guava': 950}
print (fruit2, len(fruit2), type(fruit2), id(fruit2))
fruit1.update(fruit2)
print (fruit1, len(fruit1), type(fruit1), id(fruit1))
print (fruit2, len(fruit2), type(fruit2), id(fruit2))

{'apple': 120, 'orange': 740} 2 <class 'dict'> 1767545436416
{'banana': 720, 'pineapple': 230, 'guava': 950} 3 <class 'dict'> 1767541764672
{'apple': 120, 'orange': 740, 'banana': 720, 'pineapple': 230, 'guava': 950} 5 <class 'dict'> 1767545436416
{'banana': 720, 'pineapple': 230, 'guava': 950} 3 <class 'dict'> 1767541764672

In [81]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Dealing with Set Collection

In [92]:
snakes = set(['cobra', 'viper', 'python', 'cobra', 'viper', 'python', 'cobra', 'viper', 'python'])
print (snakes, len(snakes), id(snakes), type(snakes))
snakes = set(('cobra', 'viper', 'python', 'cobra', 'viper', 'python', 'cobra', 'viper', 'python'))
print (snakes, len(snakes), id(snakes), type(snakes))

{'viper', 'python', 'cobra'} 3 1767552441696 <class 'set'>
{'viper', 'python', 'cobra'} 3 1767545046624 <class 'set'>

In [96]:
# union operation
snakes = {'cobra', 'viper', 'python'}
print (snakes, len(snakes), id(snakes), type(snakes))
languages = {'c++', 'python', 'java'}
print (languages, len(languages), id(languages), type(languages))
result = snakes.union(languages)
print (result, len(result), id(result), type(result))
result = snakes | languages
print (result, len(result), id(result), type(result))
print (snakes, len(snakes), id(snakes), type(snakes))
print (languages, len(languages), id(languages), type(languages))

{'viper', 'python', 'cobra'} 3 1767549962720 <class 'set'>
{'c++', 'python', 'java'} 3 1767549962944 <class 'set'>
{'viper', 'c++', 'cobra', 'java', 'python'} 5 1767545289184 <class 'set'>
{'viper', 'c++', 'cobra', 'java', 'python'} 5 1767549963840 <class 'set'>
{'viper', 'python', 'cobra'} 3 1767549962720 <class 'set'>
{'c++', 'python', 'java'} 3 1767549962944 <class 'set'>

In [99]:
# intersection operation
snakes = {'cobra', 'viper', 'python'}
print (snakes, len(snakes), id(snakes), type(snakes))
languages = {'c++', 'python', 'java'}
print (languages, len(languages), id(languages), type(languages))
result = snakes.intersection(languages)
print (result, len(result), id(result), type(result))
result = snakes & languages
print (result, len(result), id(result), type(result))
print (snakes, len(snakes), id(snakes), type(snakes))
print (languages, len(languages), id(languages), type(languages))
snakes.intersection_update(languages)
print (snakes, len(snakes), id(snakes), type(snakes))
print (languages, len(languages), id(languages), type(languages))

{'viper', 'python', 'cobra'} 3 1767540108192 <class 'set'>
{'c++', 'python', 'java'} 3 1767540109088 <class 'set'>
{'python'} 1 1767540107296 <class 'set'>
{'python'} 1 1767540188096 <class 'set'>
{'viper', 'python', 'cobra'} 3 1767540108192 <class 'set'>
{'c++', 'python', 'java'} 3 1767540109088 <class 'set'>
{'python'} 1 1767540108192 <class 'set'>
{'c++', 'python', 'java'} 3 1767540109088 <class 'set'>

In [100]:
# set difference operation
snakes = {'cobra', 'viper', 'python'}
print (snakes, len(snakes), id(snakes), type(snakes))
languages = {'c++', 'python', 'java'}
print (languages, len(languages), id(languages), type(languages))
result = snakes.difference(languages)
print (result, len(result), id(result), type(result))
result = snakes - languages
print (result, len(result), id(result), type(result))
print (snakes, len(snakes), id(snakes), type(snakes))
print (languages, len(languages), id(languages), type(languages))
snakes.difference_update(languages)
print (snakes, len(snakes), id(snakes), type(snakes))
print (languages, len(languages), id(languages), type(languages))

{'viper', 'python', 'cobra'} 3 1767550148896 <class 'set'>
{'c++', 'python', 'java'} 3 1767553173760 <class 'set'>
{'viper', 'cobra'} 2 1767553172640 <class 'set'>
{'viper', 'cobra'} 2 1767553173312 <class 'set'>
{'viper', 'python', 'cobra'} 3 1767550148896 <class 'set'>
{'c++', 'python', 'java'} 3 1767553173760 <class 'set'>
{'viper', 'cobra'} 2 1767550148896 <class 'set'>
{'c++', 'python', 'java'} 3 1767553173760 <class 'set'>

In [101]:
# set symmetric difference operation
snakes = {'cobra', 'viper', 'python'}
print (snakes, len(snakes), id(snakes), type(snakes))
languages = {'c++', 'python', 'java'}
print (languages, len(languages), id(languages), type(languages))
result = snakes.symmetric_difference(languages)
print (result, len(result), id(result), type(result))
result = snakes ^ languages
print (result, len(result), id(result), type(result))
print (snakes, len(snakes), id(snakes), type(snakes))
print (languages, len(languages), id(languages), type(languages))
snakes.symmetric_difference_update(languages)
print (snakes, len(snakes), id(snakes), type(snakes))
print (languages, len(languages), id(languages), type(languages))

{'viper', 'python', 'cobra'} 3 1767550986720 <class 'set'>
{'c++', 'python', 'java'} 3 1767550987616 <class 'set'>
{'viper', 'c++', 'cobra', 'java'} 4 1767550808128 <class 'set'>
{'viper', 'c++', 'cobra', 'java'} 4 1767550809248 <class 'set'>
{'viper', 'python', 'cobra'} 3 1767550986720 <class 'set'>
{'c++', 'python', 'java'} 3 1767550987616 <class 'set'>
{'viper', 'c++', 'java', 'cobra'} 4 1767550986720 <class 'set'>
{'c++', 'python', 'java'} 3 1767550987616 <class 'set'>

In [102]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None