## Introduction to Python

In [1]:
# This is a comment line

### Python Inputs and Outputs

In [5]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  33
Please enter the second number:  44

33 <class 'str'> 44 <class 'str'>
3344
End of the program...

In [6]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300

100 <class 'int'> 300 <class 'int'>
400
End of the program...

In [19]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))    # variable placeholder
print ("So {0} + {1} = {2}".format(num1, num2, result))    # indexed placeholder
print ("So {2} + {1} = {0}".format(result, num2, num1))    # indexed placeholder
print ("So {n1} + {n2} = {tot}".format(n1 = num2, n2 = num2, tot = result))    # labeled placeholder
print ("So {n1} + {n2} = {tot}".format(n2 = num2, n1 = num2, tot = result))    # labeled placeholder
print ("So %d + %d = %d"%(num1, num2, result))    # formatting
print ("So %d + %f = %d"%(num1, num2, result))    # formatting
print ("So %d + %8.2f = %d"%(num1, num2, result))    # formatting
print (f"So {num1} + {num2} = {result}")    # smart formatting

So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 100 + 300 = 400
So 300 + 300 = 400
So 300 + 300 = 400
So 100 + 300 = 400
So 100 + 300.000000 = 400
So 100 +   300.00 = 400
So 100 + 300 = 400

### Conditional Statements

In [37]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print ("1> Addition\n2> Subtraction\n3> Multiplication\n4> Division")
ch = int(input("Please enter your choice number: "))
if (ch == 1):
    print ("Performing the ADDITION operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (ch == 2):
    print ("Performing the SUBTRACTION operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (ch == 3):
    print ("Performing the MULTIPLICATION operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (ch == 4):
    print ("Performing the DIVISION operation...")
    if (num2 == 0):
        print ("DIVISION by ZERO is Illegal !!!")
        print ("Can not perform the division operation...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been given...")
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  40

1> Addition
2> Subtraction
3> Multiplication
4> Division

Please enter your choice number:  2

Performing the SUBTRACTION operation...
So 100 - 40 = 60
End of the program...

In [44]:
myvar = "University"
print (myvar, type(myvar), id(myvar))
myvar = 'U'
print (myvar, type(myvar), id(myvar))
myvar = 100
print (myvar, type(myvar), id(myvar))
myvar = 100.5
print (myvar, type(myvar), id(myvar))
myvar = True
print (myvar, type(myvar), id(myvar))

University <class 'str'> 2595285758192
U <class 'str'> 2595202204592
100 <class 'int'> 140736313635728
100.5 <class 'float'> 2595288877616
True <class 'bool'> 140736313349968

### Collection Objects

In [57]:
myvar = ['Amit', 34, 54000.50, True]
print (myvar, type(myvar), id(myvar))
myvar = ('Amit', 34, 54000.50, True)
print (myvar, type(myvar), id(myvar))
myvar = {'name':'Amit', "age":34, 'salary':54000.50, 'married':True}
print (myvar, type(myvar), id(myvar))
myvar = {'Amit', 34, 54000.50, True, 34, 54000.50, True, 34, 54000.50, True, 'Amit'}
print (myvar, type(myvar), id(myvar))
myvar = frozenset(['Amit', 34, 54000.50, True, 34, 54000.50, True, 34, 54000.50, True, 'Amit'])
print (myvar, type(myvar), id(myvar))

['Amit', 34, 54000.5, True] <class 'list'> 2595286098560
('Amit', 34, 54000.5, True) <class 'tuple'> 2595277887984
{'name': 'Amit', 'age': 34, 'salary': 54000.5, 'married': True} <class 'dict'> 2595285138560
{54000.5, True, 34, 'Amit'} <class 'set'> 2595294140224
frozenset({54000.5, True, 34, 'Amit'}) <class 'frozenset'> 2595294139328

### Arithmetic Operators

In [59]:
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)
print (100 // 40)
print (100 % 40)
print (100 ** 4)

140
60
4000
2.5
2
20
100000000

### Logical Operators

In [63]:
print (100 > 400 and 400 > 200)
print (100 > 400 or 400 > 200)
print (not(100 > 400 and 400 > 200))
print (not(100 > 400 or 400 > 200))

False
True
True
False